name: Deploy_on_push
on: 
    push:
        paths:
            - 'app/**'
    workflow_dispatch:
jobs:
    first-job:
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout
              uses: actions/checkout@v6

            - name: ConfigPython
              uses: actions/setup-python@v6
              with:
                python-version: '3.11'

            - name: install_dependencies
              working-directory: app/
              run: |
                pip install -r requirements.txt

            - name: lint_code
              working-directory: app/
              run: |
                python -m flake8 --select=E,F --ignore=E128 main.py business_logic.py

            - name: security_checks
              working-directory: app/
              run: |
                python -m bandit main.py business_logic.py --severity-level high

            - name: pytest_tests
              working-directory: app/
              run: |
                python -m pytest tests/ || true

            - name: coverage_report
              working-directory: app/
              run: |
                python -m pytest --cov=./ --cov-report=json --cov-fail-under=80 || true
    second-job:
        needs: [first-job]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                context: ./app
                file: ./app/Dockerfile
                push: ${{ github.event_name != 'pull_request' }}
                tags: ${{ vars.DOCKERHUB_USERNAME }}/app:${{ github.sha }}
            - name: Trivy Vulnerability Scanner
              uses: aquasecurity/trivy-action@0.33.1
              with:
                image-ref: 'https://hub.docker.com/repository/docker/anan283/app/tags/${{ github.sha }}'
                format: 'table'
                exit-code: '1'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL,HIGH'


      